@charset "UTF-8";

#wrapper {
  height: auto;
  margin: 0 auto;
  font-family: 'Sawarabi Gothic', sans-serif;
}

/* pcとsp切替用 ------------------------------*/
.sp {
  display: none;
}

@media screen and (max-width:900px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}

/* ヘッダー ---------------------------------- */
header {
  width: 100%;
  height: 500px;
  /* font-family: 'Archivo Black', sans-serif; */
  font-family: sans-serif;
}

#top {
  width: 100%;
  height: 500px;
  background-image: url("pc_top.jpg");
  /* ブラウザの幅いっぱい画像設定・以下3行 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

header p {
  width: 230px;
  margin: 0 auto;
  height: 20px;
  color: #fff;
  font-size: 0.6rem;
  line-height: 460px;
}

header h1 {
  width: 300px;
  height: 100px;
  margin: 0 auto;
  color: #fff;
  font-size: 2.5rem;
  line-height: 500px;
}

/* ナビゲーション -------------- */

.hamburger {
  display: none;
}

.sp_gmenu {
  display: none;
}

.top_nav {
  width: 100%;
  height: 60px;
  display: flex;
  background-color: #E6E6E6;
}

.top_nav ul {
  display: flex;
  margin: 0 auto;
  height: 60px;
}

.top_nav ul li {
  font-size: 0.7rem;
  font-weight: bold;
  list-style: none;
  width: 130px;
  text-align: center;
  line-height: 15px;
  padding-top: 14px;
  letter-spacing: 1px;
}

.top_nav a {
  text-decoration: none;
  color: #201818;
  /* transition: 0.3s; */
}

.top_nav a span {
  font-weight: normal;
  font-size: 0.6rem;
}

.top_nav a:hover {
  color: #898a8b;
}


/* メイン ----------------------------- */
main {
  display: flex;
  flex-direction: column;
}

/* VISION -------------------------- */
#vision {
  width: 100%;
  margin: 150px auto 0 auto;
  display: flex;
  flex-direction: column;
}

#vision h2 {
  text-align: center;
  font-size: 25px;
  color: #a6b8c4;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 5px;
}

#vision #copy {
  width: 415px;
  height: 40px;
  margin: 20px auto 0 auto;
}

#vision p {
  margin: 30px auto 0 auto;
  text-align: center;
  font-size: 0.8rem;
  line-height: 4vh;
}

/* SERVICE と　RECRUIT ---------------------  */
/* #ser と #rec をまとめる div */
.art {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}

.art>*{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  padding: 40px 0;
}

#ser {
  display: flex;
  flex-direction: column;
  background-image: url(pc_top_service.jpg);
}

#rec {
  background-image: url(pc_top_recruite.jpg);
}

#ser h2,
#rec h2 {
  font-size: 2.5rem;
  width: 300px;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: lighter;
  letter-spacing: 5px;
}

#ser p,
#rec p {
  font-size: 0.7rem;
  width: 300px;
  height: auto;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  line-height: 20px;
  padding: 20px 0;
}

#ser .box {
  width: 300px;
  height:40px;
  margin: 10px auto 0 auto;
  text-align: center;
  background-image: url(square.png);
  transition: 0.3s;
}

#rec .box {
  width: 300px;
  height: 40px;
  border: 1px;
  border: #fff 1px solid;
  margin: 10px auto 0 auto;
  text-align: center;
}

#ser img,
#rec img {
  width: 10px;
  height: 10px;
}

.box a {
  width: 300px;
  height: auto;
  text-decoration: none;
  border: none;
  color: #fff;
  font-size: 0.7rem;
  margin: 0 auto;
  line-height: 40px;
}

#ser .box:hover {
  /* opacity: 0.5; */
  cursor: pointer;
  background-image: none;
  border: 1px #fff solid;
}

#rec .box:hover {
  cursor: pointer;
  border: none;
  padding: 1px;
  background-image: url(square.png);
}


/* ハレダス ----------------------- */
#hare {
  width: 500px;
  height: auto;
  margin: 80px auto 0 auto;
  overflow: hidden;
}

#hare img {
  width: 500px;
  height: auto;
  transition-duration: 0.3s;
}

#hare img:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}

/* blog ---------------------------- */
#blog {
  width: 100%;
  height: auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

#blog h2 {
  text-align: center;
  font-size: 25px;
  color: #a6b8c4;
  /* font-family: 'Archivo Black', sans-serif; */
  font-family: sans-serif;
  letter-spacing: 5px;
}

#blog table {
  margin: 30px auto 0 auto;
  width: 430px;
}

#blog table tr:hover {
  background-color: #E6E6E6;
}

#blog table td {
  padding: 10px 10px 10px 10px;
  font-size: 0.7rem;
  border-bottom: rgb(146, 143, 143) dotted 1px;
  height: 20px;
  line-height: 20px;
  transition: 0.3s;
}

#blog table td a{
  text-decoration: none;
  color: #201818;
}

#blog table .date {
  padding-right: 50px;
}

#blog table td img {
  width: 20px;
  height: 20px;
}

#blog .blogLink {
  width: 300px; 
  height: 45px;
  color: #fff;
  background-color: #201818;
  text-decoration: none;
  font-size: 0.8rem;
  line-height: 45px;
  text-align: center;
  margin: 30px auto 0 auto ; 
  transition: 0.3s;
}

#blog .blogLink:hover {
  background-color: #898a8b;
}


/* CONTACT --------------------- */
#cont {
  width: 600px;
  height: auto;
  display: flex;
  margin: 80px auto 0 auto;
  padding: 50px 0 50px 0;
  flex-direction: column;
  background-color: #E6E6E6;
  border-radius: 50px 0 50px 0;
}

#cont h2 {
  text-align: center;
  font-size: 25px;
  color: #201818;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 2px;
}

#cont p {
  margin: 30px auto 0 auto;
  text-align: center;
  font-size: 0.8rem;
  line-height: 25px;
}

#cont a {
  width: 300px;
  height: 45px;
  color: #fff;
  background-color: #201818;
  font-size: 0.8rem;
  text-decoration: none;
  line-height: 45px;
  text-align: center;
  margin: 30px auto 0 auto;
  transition: 0.3s;
}

#cont a:hover {
  background-color: #898a8b;
}

/* フッター ------------------------------- */
.footwrap {
  width: 100%;
  height: auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  background-color: #A3B7B9;
}

.foot_tool {
  width: 70%;
  height: auto;
  margin: 0 auto;
  /* font-family: 'Archivo Black', sans-serif; */
  font-family: sans-serif;
}

.footer_nav {
  width: 100%;
  height: 50px;
  margin: 80px auto 0 auto;
  padding-bottom: 10px;
  border-bottom: #fff 1px solid;
}

.footer_nav ul {
  display: flex;
  flex-direction: row;
}

.footer_nav ul li {
  width: 100px;
  height: 50px;
  color: #fff;
  font-size: 0.7rem;
  line-height: 50px;
  text-align: center;
}

.footer_nav a {
  text-decoration: none;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.footer_nav a .circle {
  background: #898a8b;
  border-radius: 100%;
  display: block;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transition: width 0.3s, height 0.3s;
  transition: width 0.3s, height 0.3s;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(10%, 10%);
  width: 0;
}

.footer_nav a:hover .circle {
  height: 40px;
  width: 40px;
  opacity: 0.5;
}

.footer_nav a .inner-text {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.footer_nav ul #logo {
  font-size: 2rem;
  width: 270px;
  height: 50px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
}

.company {
  width: 100%;
  height: auto;
  margin: 30px auto 0 auto;
}

.company p {
   font-size: 0.6rem;
   color: #fff;
   line-height: 20px;
 }

.foot_tool .policy {
   width: 100%;
   height: auto;
   margin-top: 20px;
}

.foot_tool .policy a {
   font-size: 0.6rem;
   text-decoration: none;
   color: #fff;
}

.copyright {
  color: #fff;
  width: 250px;
  font-size: 0.6rem;
  margin: 30px auto 30px auto ;
}


/* レスポンシブ（900px以下）------------------------- */
@media screen and (max-width:900px){

  .top_nav {
    display: none;
  }
  
  /*　ハンバーガーボタン　*/
  .hamburger {
    display : block;
    position: fixed;
    z-index : 5;
    right : 20px;
    top   : 20px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
  }
  
  .hamburger.active {
    background-color: #ddd;
  }
  
  .hamburger span {
    display : block;
    position: absolute;
    width   : 25px;
    height  : 1px ;
    left    : 8px;
    background : #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }
  
  .hamburger span:nth-child(1) {
    top: 12px;
  }
  
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  
  .hamburger span:nth-child(3) {
    top: 28px;
  }
  
  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top : 20px;
    left: 8px;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }
  
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }
  
  
  /* 開いたナビ部分 */
  .sp_gmenu {
    position: fixed;
    overflow-y: scroll;
    z-index : 4;
    top  : 0;
    left : 0;
    color: #000;
    background-color: #ddd;
    text-align: center;
    transform: translateX(100%);
    transition: 0.6s;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Sawarabi Gothic', sans-serif;
  }
  
  .sp_gmenu .menu1 {
    margin: 100px auto 0 auto;
    padding: 0;
    width: 70%;
    border-bottom: 1px #898a8b solid;
  }
  
  .sp_gmenu .menu2 {
    margin: 0 auto;
    padding: 30px 0 100px 0;
    width: 100%;
  }
  
  .sp_gmenu .menu1 li {
    display: block;
    list-style-type: none;
    padding: 20px 0 0 0;
    width: 100%;
    font-size: 0.8rem;
    font-weight: bold;
    height: 100px;
    line-height: 25px;
    letter-spacing: 2px;
  }
  
  .sp_gmenu .menu2 li {
    display: block;
    list-style-type: none;
    width: 100%;
    font-size: 0.8rem;
    height: 70px;
    line-height: 70px;
    letter-spacing: 5px;
  }
  
  .sp_gmenu ul li a {
    color: #000;
    text-decoration :none;
    display: block;
  }
  
  .sp_gmenu ul li span {
    font-weight: normal;
  }
  
  .sp_gmenu ul li a:hover{
    color : #A3B7B9;
  }
  
  /* このクラスを、jQueryで付与・削除する */
  .sp_gmenu.active {
    transform: translateX(0%);
  }

  
/* VISION */

  #vision {
    margin-top: 30px;
  }

  #vision p {
    text-align: left;
    font-size: 0.9rem;
    padding: 0 50px;
    margin-top: 25px;
  }  

  #vision #copy {
    width: 200px;
    height: 70px;
    margin: 30px auto 0 auto;
  }
    
/* SERVICE とRECRUIT -------------  */
/* #ser と #rec をまとめる div */
.art {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.art>*{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 50px 0;
}

#ser p,
#rec p {
  font-size: 0.8rem;
  line-height: 30px;
  padding: 25px 0;
}

.box a {
  font-size: 0.8rem;
}

#ser .box {
  width: 300px;
  height: 50px;
  border: 1px;
  border: #fff 1px solid;
  margin: 10px auto 0 auto;
  text-align: center;
  background-image: none;
  line-height: 50px;
}

#ser .box:hover {
  /* border: none;
  padding: 1px; */
  background-image: url(square.png);
}

#rec .box {
  height: 50px;
  line-height: 50px;
}


/* ハレダス */
#hare {
  width: 400px;
  margin: 30px auto 0 auto;
}

#hare img {
  width: 400px;
  height: auto;
}

/* blog  */
#blog {
  margin-top: 30px;
}

#blog .blogLink {
  display: none;
}

/* CONTACT  */
#cont {
  width: 100%;
  border-radius: 0 0 0 0;
}

#cont p {
  text-align: left;
  font-size: 0.9rem;
}

#cont a {
  width: 350px;
  height: 55px;
  font-size: 0.8rem;
  line-height: 55px;
  margin: 30px auto 20px auto;
  letter-spacing: 3px;
}


/* フッター  */
.footwrap {
  margin-top: 0;
}

.footer_nav {
  width: 100%;
  height: auto;
  margin: 40px auto 0 auto;
  border-bottom: none;
}

.footer_nav ul {
  display: flex;
  flex-direction: column;
}

.footer_nav ul li {
  width: 100px;
  height: 40px;
  color: #fff;
  font-size: 1rem;
  line-height: 40px;
  text-align: left;
  /* font-family: 'Ubuntu', sans-serif; */
  /* font-family: 'Archivo Black', sans-serif; */
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  padding-top: 20px;
}

.footer_nav a .circle {
  background: #898a8b;
  border-radius: 100%;
  display: block;
  height: 0;
  left: 100%;
  position: absolute;
  top: 0%;
  -webkit-transition: width 0.3s, height 0.3s;
  transition: width 0.3s, height 0.3s;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(50%, 0%);
  width: 0;
}

.footer_nav ul #logo {
  width: 300px;
  height: 40px;
  font-weight: bold;
  line-height: 20px;
  font-size: 2rem;
}

.company {
  width: 100%;
  height: auto;
  margin: 30px auto 0 auto;
}

.company p {
   font-size: 0.8rem;
   color: #fff;
   line-height: 30px;
   font-family: 'Sawarabi Gothic', sans-serif;
   letter-spacing: 1px;
 }

.company span {
  font-size: 1rem;
  letter-spacing: 2px;
}

.foot_tool .policy a {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.copyright {
  margin: 40px auto 40px auto ;
}


}
